exportPattern("^[[:alpha:]]+")

importFrom("copula", "dCopula", "fitCopula", "pCopula", "rCopula", "tCopula")
importFrom("extRemes", "devd", "pevd", "qevd")
importFrom("graphics", "abline", "axis", "contour", "grid", "legend", "lines", "matplot", "mtext",
               "par", "points", "polygon", "rug", "segments", "text")
importFrom("grDevices", "adjustcolor")
importFrom("MASS", "kde2d")
importFrom("methods", "is")
importFrom("plyr", "rbind.fill")
importFrom("stats", "coef", "cor", "dnorm", "fitted", "formula", "loess", "optim", "pnorm", "qnorm", "quantile", "sd",  "setNames")
importFrom("utils", "read.csv")

