exportPattern("^[[:alpha:]]+")

importFrom("stats", "setNames", "dnorm", "qnorm", "pnorm", "optim", "sd", "quantile")
importFrom("extRemes", "devd", "qevd", "pevd")
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "abline", "legend", "lines", "matplot", "mtext",
               "par", "points", "polygon", "rug", "segments")
